@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

/* from 0 to 375px */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: hsl(212, 45%, 89%);
  font-size: 15px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 0.8rem;
  max-height: 500px;
  max-width: 300px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  overflow: hidden;
}

.qr img {
  max-width: 100%;
  border-radius: 10px;
}


.caption {
  text-align: center;
  padding: 0.5rem;
}

.heading {
  margin: 0.8rem 0;
  font-size: 1.4rem;
  color: hsl(218, 44%, 22%);
}

.description {
  color: hsl(220, 15%, 55%);
}